<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>      
      <services>

        <service name="IRemoteWCF.ClientServerLibrary" behaviorConfiguration="myClientServerLibraryBehave">       
          <host>       
            <baseAddresses>       
              <add baseAddress="http://localhost:9001/ClientServerLibrary"/>       
              <add baseAddress="net.tcp://localhost:9002/ClientServerLibrary"/>       
            </baseAddresses>       
          </host>       
          <endpoint address="http://localhost:9001/ClientServerLibrary" binding="basicHttpBinding" contract="IRemoteWCF.IClient"/>       
          <endpoint address="net.tcp://localhost:9002/ClientServerLibrary" binding="netTcpBinding" contract="IRemoteWCF.IClient"/>       
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>       
          <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>       
        </service>
        
        <service name="IRemoteWCF.LibrarianServerLibrary" behaviorConfiguration="myLibrarianServerLibraryBehave">       
          <host>       
            <baseAddresses>       
              <add baseAddress="http://localhost:9001/LibrarianServerLibrary"/>       
              <add baseAddress="net.tcp://localhost:9002/LibrarianServerLibrary"/>       
            </baseAddresses>       
          </host>       
          <endpoint address="http://localhost:9001/LibrarianServerLibrary" binding="basicHttpBinding" contract="IRemoteWCF.ILibrarian"/>       
          <endpoint address="net.tcp://localhost:9002/LibrarianServerLibrary" binding="netTcpBinding" contract="IRemoteWCF.ILibrarian"/>       
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>       
          <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>       
        </service>
        
      
      </services>
    
      <behaviors>
        
        <serviceBehaviors>
          <behavior name="myClientServerLibraryBehave">       
            <serviceMetadata httpGetEnabled="true"/>       
          </behavior>   
        
          <behavior name="myLibrarianServerLibraryBehave">       
            <serviceMetadata httpGetEnabled="true"/>       
          </behavior>  
        
        </serviceBehaviors>
      
      </behaviors>
    </system.serviceModel>       
</configuration>