<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>      
      <services>

        <service name="IRemoteWCF.ConsultWorks" behaviorConfiguration="myConsultWorksBehave">       
          <host>       
            <baseAddresses>       
              <add baseAddress="http://localhost:9001/ConsultWorks"/>       
              <add baseAddress="net.tcp://localhost:9002/ConsultWorks"/>       
            </baseAddresses>       
          </host>       
          <endpoint address="http://localhost:9001/ConsultWorks" binding="basicHttpBinding" contract="IRemoteWCF.IConsultWorks"/>       
          <endpoint address="net.tcp://localhost:9002/ConsultWorks" binding="netTcpBinding" contract="IRemoteWCF.IConsultWorks"/>       
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>       
          <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>       
        </service>
        
        <service name="IRemoteWCF.ManageWorks" behaviorConfiguration="myManageWorksBehave">       
          <host>       
            <baseAddresses>       
              <add baseAddress="http://localhost:9001/ManageWorks"/>       
              <add baseAddress="net.tcp://localhost:9002/ManageWorks"/>       
            </baseAddresses>       
          </host>       
          <endpoint address="http://localhost:9001/ManageWorks" binding="basicHttpBinding" contract="IRemoteWCF.IManageWorks"/>       
          <endpoint address="net.tcp://localhost:9002/ManageWorks" binding="netTcpBinding" contract="IRemoteWCF.IManageWorks"/>       
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>       
          <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>       
        </service>
      
      </services>       
      <behaviors> 
        
        <serviceBehaviors>
          
          <behavior name="myConsultWorksBehave">       
            <serviceMetadata httpGetEnabled="true"/>       
          </behavior>   
          
          <behavior name="myManageWorksBehave">       
            <serviceMetadata httpGetEnabled="true"/>       
          </behavior> 
        
        </serviceBehaviors>
  
      </behaviors>       
    </system.serviceModel>       
</configuration>