<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IManageWorks" />
                <binding name="BasicHttpBinding_IConsultWorks" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IManageWorks" />
                <binding name="NetTcpBinding_IConsultWorks" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/ManageWorks" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IManageWorks" contract="ManageWorksService.IManageWorks"
                name="BasicHttpBinding_IManageWorks" />
            <endpoint address="net.tcp://localhost:9002/ManageWorks" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IManageWorks" contract="ManageWorksService.IManageWorks"
                name="NetTcpBinding_IManageWorks">
                <identity>
                    <userPrincipalName value="DESKTOP-THB1QHJ\houss" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9001/ConsultWorks" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IConsultWorks" contract="ConsultWorksService.IConsultWorks"
                name="BasicHttpBinding_IConsultWorks" />
            <endpoint address="net.tcp://localhost:9002/ConsultWorks" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IConsultWorks" contract="ConsultWorksService.IConsultWorks"
                name="NetTcpBinding_IConsultWorks">
                <identity>
                    <userPrincipalName value="DESKTOP-THB1QHJ\houss" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>